h1 {
    color: white;
    text-shadow: 1px 1px 15px rgb(0 0 0 / 50%);
}
form {
    color: white;
    input {
        border: 0;
        width: 100%;
        padding: 12px 10px;
        margin: 8px 0;
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgb(0 0 0 / 50%);
    }
    textarea {
        border-radius: 10px;
        box-shadow: 1px 1px 15px rgb(0 0 0 / 50%);
    }
    .label {
        margin-bottom: 7px;
    }
}