body {
    background: linear-gradient(90deg, #2b33b2, #1487cc);
}

.btn-container{
    padding: 10px 0;
    .discover-btn {
    font-size: 14px;
    width: 66%;
    border: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    box-shadow: 1px 5px 1.5rem rgba(255, 94, 98, 0.5);
    text-decoration: none;
    transition: background 1s ease-in-out;
        &:hover{
            background: linear-gradient(90deg, #ff8345, #ff3135);
        }
    }
}