body {
    background: linear-gradient(90deg, #2b33b2, #1487cc);
}

.form-btn {
    padding: 8.5px 15px !important;
    margin-top: 3px;
}

.red-btn {
    background: linear-gradient(90deg, #ff5e8e, #ff6666);
    box-shadow: 1px 5px 1.5rem rgba(173, 64, 66, 0.5);
    &:hover{
        background: linear-gradient(90deg, #ff2f6d, #ff3d3d);
    }
}

.green-btn {
    background: linear-gradient(90deg, #a8e657, #5ae755);
    box-shadow: 1px 5px 1.5rem rgba(108, 255, 94, 0.5);
    &:hover{
        background: linear-gradient(90deg, #86df12, #34e42e);
    }
}

.orange-btn {
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    box-shadow: 1px 5px 1.5rem rgba(255, 94, 98, 0.5);
    &:hover{
        background: linear-gradient(90deg, #ff8345, #ff3135);
    }
}

.btn-container{
    padding: 10px 0;
    .discover-btn {
    font-size: 14px;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: background 1s ease-in-out;
    }
}

form .btn-container {
    margin-top: 3px;
    padding: 8.5px 15px;
}